.logo-container{
  width:90px;
  height:90px;
  padding:0px;
  display: inline-block;
  margin:0px;
}
.logo{
  height: 100%;
  width:100%;
}

nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(7, 43, 204);
  padding: 10px 40px;
  margin:0px;
}

ul{
  list-style:none;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 50px;
}

li{
  color:white;
  text-decoration: none;
  font-size:20px;
  padding:10px 30px;
  border-radius: 4px;
}

li:hover{
  background-color: white; 
  color:rgb(7, 43, 204);
}

li:active{
  opacity:0.5;
}

.window{
  width:100vw;
  height: 100vh;
  border:none;
  
}


footer{
  background-color: rgb(7, 43, 204);
  color:white;
  font-size: 17px;
  padding-top:40px;
  padding-bottom:100px;
  padding-left:30px;
}